@import "tailwindcss";

@layer utilities {
  @keyframes gradient {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
  }

  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
